.upload_box{
    background-color: #ffffff;
    -webkit-border-image: url(../images/border.gif) 2 stretch;
    border-width: 1px 0 1px 0;
}
.upload_box .img img{
    width: 100%;
    display: block;
}
.upload_box .img2 .text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 16px;
    padding: 10px 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.62);
}
.upload_box .img2{
    padding: 10px;
    background-color: #efefef;
    position: relative;
}
.upload_box .t1{
    text-align: left;
    font-size: 16px;
    color: #333333;
    line-height: 35px;
}
.upload_box .col{
    padding: 15px;
    color: #a9a9a9;
    font-size: 16px;
    text-align: center;
}